.third-page {
    // position: absolute;
    top: 412%;
    left: 0;

    .Our-Plan-Process {
        margin: 22px 0px 19px;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #0f0a4b;
    }

    .third-page-img1,
    .third-page-img2,
    .third-page-img-state,
    .third-page-img {
        width: 100%;
    }

    .gradient-copy {
        // width: 375px;
        height: 1116px;
        margin: 9px 0 0;
        padding: 26px 27px 31px 17px;
        background-image: linear-gradient(to bottom, #e0e0e073 -10%, #e7ecf4);

        .new-content img {
            width: 320px;
            height: 40px;
            margin: 0 0 12px 11px;
            // object-fit: contain;
        }

        .-NDA-and-IP-Protect {
            // width: 320px;
            // height: 78px;
            // margin: 12px 0 10px 11px;
            // font-family: Montserrat;
            // font-size: 12px;
            // font-weight: normal;
            // font-stretch: normal;
            // font-style: normal;
            // line-height: 1.33;
            // letter-spacing: normal;
            // color: #0f0a4b;


            /* width: 320px; */
            // height: 78px;
            margin: 12px 0 10px 11px;
            font-family: Montserrat;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.33;
            letter-spacing: normal;
            color: #0f0a4b;
            display: flex;
            text-align: justify;


        }

        .get-started img {
            width: 100%;
            height: 120px;
            margin: 216px 1px 0 0;
            object-fit: contain;
        }
    }

    .Thirdpage-footer-section {
        width: 100%;
        height: 8vh;
        margin: -5px 0 40px;
        padding: 25px 0px;
        background-color: #0f0a4b;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: scroll;

        .-Certified-BI-Exp {
            width: 100%;
            // font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #fff;
            padding: 20px 15px;
            // overflow: hidden;
        }
    }

    .third-card-sec {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        // column-gap: 3%;
        // margin: 0 68px 29px 68px;
        // height: 343px;
        // margin-bottom: 29px;
    }

    // .last-section {
    //     // height: 54vh;
    //     background-image: url("../../img/375-bg-img.png");
    //     background-repeat: no-repeat;
    //     // // background-attachment: fixed;
    //     background-size: cover;

    //     img {
    //         width: 100%;
    //     }
    // }

    .GET-AHEAD {
        // position: absolute;
        // top: 74%;
        // left: 53%;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // width: 38%;
        // position: absolute;
        top: 74%;
        left: 51%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 216px;
        // width: 39%;
    }

    .Get-ahead-in-your-In {
        // margin: 0 0 15px;
        // // font-family: MontserratRoman-Bold;
        // font-size: 29px;
        // font-weight: bold;
        // font-stretch: normal;
        // font-style: normal;
        // line-height: 1.53;
        // letter-spacing: normal;
        // text-align: center;
        // color: #f8e71c;
        // width: 100%;
        height: 220px;
        margin: 0 0 15px;
        font-size: 29px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.53;
        letter-spacing: normal;
        text-align: center;
        color: #f8e71c;
        width: 300px;

    }

    .text-style-1 {
        font-family: sans-serif;
        font-weight: 700;
        color: #fff;
    }

    .text-style-2 {
        // font-family: system-ui;
        font-weight: 100;
        color: #fff;
    }

    .Rectangle-2-Copy-10 {
        width: 50%;
        padding: 7px 1px;
        border-radius: 25px;
        background-color: #f8e71c;
    }

    .Get-In-Touch {
        font-family: unset;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #0b0e55;
    }

    .End-of-the-page {
        margin-top: 165px;
        background-color: #131313;
        padding: 20px;

        img {
            height: 7vh;
            width: 100%;
            // position: absolute;
            top: 100%;
            left: 0;
        }

        .Copyright-2010-202 {
            width: 350px;
            height: 30px;
            font-family: Montserrat;
            font-size: 10px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            text-align: center;
            color: #fff;
        }
    }
}