.card{
    display: flex;
    flex-direction: column;

   img{
            width: 65%;
            object-fit: contain;
    }
.Product-Consulting {
    width: 520px;
        height: 30px;
        font-family: Montserrat;
        font-size: 25px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;
        color: #0f0a4b;
}

.Count-on-the-experts{
            font-family: Montserrat;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: justify;
            color: #505050;
        }

}
.card-sec{
        display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            column-gap: 8%;
            margin: 0 96px 0 96px;
}
        