.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    max-height: 720px !important;
    max-width: 350px !important;
    margin-left: 13px !important;
    margin-right: 12px !important;
    border-radius: 16px !important;
    margin-top: 50px !important;
}

.Rectangle-1 {
    // width: 430px;
    // height: 700px;
    // width: 93.33%;
    // height: 580px;
    // margin: 50px 13px 250px 12px;
    border-radius: 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15), 0 20px 40px 0 rgba(0, 0, 0, 0.06);
    background-image: linear-gradient(to top, #e1e1e1, #f1f1f1 -100%);
    // height: 700px;
    padding: 27px 24px 22px 26px;

    .headings {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .Try-Free-Pilot-For-1 {
            width: 300px;
            height: 40px;
            // margin: 0 0 23px;
            // padding: 10px 0 10px 280px;
            font-size: 20px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 2;
            letter-spacing: normal;
            color: #051260;
        }

        img {
            height: 20px;
            width: 20px;
        }
    }

    .Speak-To-Our-Experts {
        width: 317px;
        height: 40px;
        margin: 0 22px 0 0;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.22;
        letter-spacing: normal;
        color: #051260;
    }

    .Please-fill-the-form {
        width: 317px;
        height: 20px;
        margin: 13px 22px 22px 0;
        font-family: MontserratRoman;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.33;
        letter-spacing: normal;
        color: #000;
    }

    .body-content {
        margin-top: 23px;


        // .Line-Copy-36 {
        //     // width: 350px;
        //     // height: 1px;
        //     // border: solid 1px #8d8d8d;
        //     margin-bottom: 15px;

        .MuiFormControl-root {
            width: 100% !important;
            height: 36px !important;
        }

        img {
            width: 98%;
            padding: 2px;
            font-size: 12px;
        }

        input {
            width: 98%;
            font-size: 12px !important;
            // padding: 0 !important;
        }

        // }
        .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
            font-family: Montserrat !important;
            font-weight: normal !important;
            font-size: 12px !important;
            line-height: 3.25 !important;
            letter-spacing: normal !important;
            color: #666 !important;
        }

        .css-v4u5dn-MuiInputBase-root-MuiInput-root {
            margin-top: 0px
        }

        .Work-Email-Address,
        .Company-Name,
        .Your-Timeline,
        .Full-Name,
        .Phone-Number,
        .How-can-we-contact-y,
        .Select-Services,
        .Your-Timeline {
            // width: 350px;
            // height: 46px;
            margin: 14px 0px 0px 0;
            // padding: 44px 0 0;
            font-family: Montserrat;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            // line-height: 3.25;
            letter-spacing: normal;
            color: #666;
        }

        .Services {
            margin-top: 14px;

            .css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
                font-size: 12px !important;
            }

            .Select-Services {
                height: 0 !important;
                margin: 0 !important;
                padding: 0 !important;
            }

            img {
                width: 11px;
                height: 7px;
            }
        }
    }

    .Rectangle-2-Copy-11 {
        margin: 34px 0px 30px 0px;
        display: flex;
        align-items: center;

        input {
            margin-right: 15px;
            width: 16px;
            height: 16px;
        }

        .By-submitting-this-i .text-style-1,
        .text-style-2 {
            color: #0f0a4b;
            text-decoration-line: underline;
        }

        .By-submitting-this-i {
            width: 319px;
            height: 30px;
            // margin: 24px 9px 20px 15px;
            font-family: Montserrat;
            font-size: 10px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 15px;
            letter-spacing: normal;
            color: #4a4a4a;
        }
    }



    .Rectangle-2-Copy-10 {
        // width: 350px;
        // height: 50px;
        // margin: 20px 9px 20px 0;
        // padding: 15px 77px 16px;
        // border-radius: 25px;
        // background-color: #f8e71c;
        // width: 63.33%;
        height: 20px;
        margin: 20px 9px 20px 0;
        padding: 15px 52px 16px;
        border-radius: 25px;
        background-color: #f8e71c;

        .Submit {
            // // width: 196px;
            // height: 19px;
            // font-family: Montserrat;
            // font-size: 18px;
            // font-weight: bold;
            // font-stretch: normal;
            // font-style: normal;
            // line-height: 2.44;
            // letter-spacing: normal;
            // text-align: center;
            // color: #0b0e55;
            // margin: -12px;

            height: 19px;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            /* line-height: 2.44; */
            letter-spacing: normal;
            text-align: center;
            color: #0b0e55;
            cursor: pointer;
            display: block;
            // width: 196px;
        }
    }



    .last-content-popup {
        display: flex;
        align-items: center;

        img {
            width: 10px;
            height: 13px;
        }

        .The-information-shar {
            // width: 320px;
            // height: 15px;
            // margin: 20px 19px 0 4px;
            // font-family: Montserrat;
            // font-size: 10px;
            // font-weight: normal;
            // font-stretch: normal;
            // font-style: italic;
            // line-height: 1.5;
            // letter-spacing: normal;
            // color: #4a4a4a;
            display: block;
            width: 294px;
            height: 15px;
            margin: 0px 14px 0 6px;
            font-family: Montserrat;
            font-size: 10px;
            font-weight: normal;
            font-stretch: normal;
            font-style: italic;
            line-height: 15px;
            letter-spacing: normal;
            color: #4a4a4a;
        }
    }

}

.connected {
    max-height: 430px !important;

    .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
        font-size: 10px !important;
    }

    .MuiFormControl-root // .MuiTextField-root,

    // .Full-Name,
    // .css-1u3bzj6-MuiFormControl-root-MuiTextField-root
        {
        width: 100% !important;
    }

    .Company-Name .text-style-1,
    .Work-Email-Address .text-style-1,
    .Full-Name .text-style-1 {
        color: #d0021b;
    }
}

.Rectangle-111 {

    height: 380px;


    .cross {
        text-align: end;
        padding: 37px 34px 41px 34px;
    }

    .img-png {
        img {
            width: 77px;
            height: 78px;
            margin: 0px 92px -2px 112px;
            object-fit: contain;
        }
    }

    .Thank-You-For-Contac {
        width: 300px;
        height: 28px;
        margin: 40px 1px 18px 0;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;
        color: #0f0a4b;
        margin-right: 25px;
        margin-left: 25px;
    }

    .We-appreciate-that-y {
        width: 280px;
        height: 60px;
        margin: 18px 10px 0 11px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #505050;
        margin-right: 36PX;
        margin-left: 34px;
    }
}

@media only screen and (max-width: 325px) {
    .Rectangle-1 .body-content {
        margin-top: 48px !important;
    }

    .Rectangle-1 .Rectangle-2-Copy-10 .Submit {
        width: 139px !important;
    }
}