.stayconnected {
    max-height: 430px !important;
}

.form-modal-for-expert {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow-y: auto;

    .Rectangle-1 {
        border-radius: 18px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15), 0 20px 40px 0 rgba(0, 0, 0, 0.06);
        background-image: linear-gradient(to top, #e1e1e1, #f1f1f1 -100%);
        padding: 27px 40px 22px 40px;
        position: absolute;
        left: calc(50% - 250px);
        top: 10px;
        background-color: white;
        opacity: 1.7;
        z-index: 1;


        @media only screen and (max-width : 280px) {
            margin: 10px 13px 10px 12px;
            top: 10px;
            width: 74.33%;
            left: unset;
            padding: 27px 24px 22px 26px;
        }

        @media only screen and (max-width : 321px) {
            left: unset;
            margin: 10px 13px 10px 12px;
            padding: 27px 24px 22px 26px;
            top: 10px;
        }

        @media only screen and (min-width: 321px) and (max-width : 500px) {
            margin: 10px 13px 10px 12px;
            padding: 27px 24px 22px 26px;
            top: 10px;
            left: unset;
        }

        // @media only screen and (min-width : 500px) {
        //     margin: 7% 27.06% 0px;
        // }


        .headings {
            display: flex;
            justify-content: space-between;
            align-items: center;


            .Try-Free-Pilot-For-1 {
                width: 300px;
                height: 40px;
                font-size: 20px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 2;
                letter-spacing: normal;
                color: #051260;
            }

            img {
                height: 20px;
                width: 20px;
            }
        }

        .Speak-To-Our-Experts {
            margin: 0 22px 0 0;
            font-size: 18px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: #051260;
        }

        .close {
            border: none;
            margin-top: -5px;
            font-size: 37px;
            color: #111111;
            opacity: 0.8;
            cursor: pointer;
        }

        .Please-fill-the-form {
            width: 317px;
            height: 20px;
            margin: 13px 22px 22px 0;
            font-family: MontserratRoman;
            font-size: 12px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.33;
            letter-spacing: normal;
            color: #000;
        }

        .body-content {
            width: 100%;

            form {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .Work-Email-Address,
            .Company-Name,
            .Your-Timeline,
            .Full-Name,
            .Phone-Number,
            .Comment,
            .How-can-we-contact-y,
            .Select-Services,
            .Your-Timeline {
                padding: 0px 10px;
                margin: 0 0 8px;
                border: none;
                height: 50px;
                border-bottom: solid 1px #8d8d8d;
                color: #666666;
                font-size: 12px;
                background-color: #f0f0f0;
            }
        }

        .terms-privacy {
            display: flex;
            margin-top: 24px;
            align-items: center;

            p {
                margin: 0 10px;
                font-size: 10px;
            }
        }

        .Rectangle-2-Copy-10 {
            height: 20px;
            margin: 20px 0px 20px 0;
            padding: 15px 52px 16px;
            border-radius: 25px;
            background-color: #f8e71c;
            cursor: pointer;

            .Submit {
                font-size: 18px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: center;
                color: #0b0e55;
                background-color: #f8e71c;
                border: none;
                cursor: pointer;
                width: 100%;
            }
        }

        .last-content-popup {
            display: flex;

            img {
                height: 13px !important;
                width: 10px;
            }

            .The-information-shar {
                margin: 0 10px;
                font-size: 10px;

            }
        }

    }
}

.connected {
    max-height: 430px !important;

    .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
        font-size: 10px !important;
    }

    .MuiFormControl-root {
        width: 100% !important;
    }

    .text-style-1 {
        color: #d0021b;
    }
}

.Rectangle-111 {

    height: 380px;


    .cross {
        text-align: end;
        padding: 37px 34px 41px 34px;
    }

    .img-png {
        img {
            width: 77px;
            height: 78px;
            margin: 0px 92px -2px 112px;
            object-fit: contain;
        }
    }

    .Thank-You-For-Contac {
        width: 300px;
        height: 28px;
        margin: 40px 1px 18px 0;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;
        color: #0f0a4b;
        margin-right: 25px;
        margin-left: 25px;
    }

    .We-appreciate-that-y {
        width: 280px;
        height: 60px;
        margin: 18px 10px 0 11px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #505050;
        margin-right: 36PX;
        margin-left: 34px;
    }
}

// Stay connected with us
.form-modal {
    border-radius: 18px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15), 0 20px 40px 0 rgba(0, 0, 0, 0.06);
    background-image: linear-gradient(to top, #e1e1e1, #f1f1f1 -100%);
    padding: 27px 40px 22px 40px;
    position: fixed;
    left: calc(50% - 250px);
    top: 100px;
    background-color: white;
    opacity: 1.7;
    z-index: 1;

    @media only screen and (max-width : 321px) {
        margin: 0px 12px 0px 13px;
        width: 74.33%;
        left: unset;
        padding: 27px 24px 22px 26px;
        top: 50px;
    }

    @media only screen and (min-width: 321px) and (max-width : 500px) {
        margin: 0px 6% 0px;
        padding: 27px 24px 22px 26px;
        left: unset;
        top: 50px;
    }

    // @media only  screen and (max-width : 500px){
    //     height: 700px;
    // }
    @media only screen and (min-width : 500px) and (max-width : 1800px) {
        margin: 0px 29%;
        left: unset;
    }

    @media only screen and (min-width: 768px) and (max-width: 1010px) {
        margin: 0px 20%;
        left: unset;
    }

    .modal-header {
        display: flex;
        padding: 0;
        border-bottom: 0;
        justify-content: space-between;
    }

    .modal-title {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.67;
        color: #051260;
        margin: 0 0 22px;
    }

    .close {
        border: none;
        margin-top: -5px !important;
        font-size: 34px;
        color: #111111;
        opacity: 0.8;
        cursor: pointer;
    }

    #connectionForm input {
        width: 92%;
        padding: 0px 10px;
        margin: 0 0 15px;
        border: none;
        height: 50px;
        border-bottom: solid 1px #8d8d8d;
        color: #666666;
        font-size: 12px;
        background-color: #f0f0f0;
    }

    .privacy {
        display: flex;
        align-items: center;
        margin-top: 7px;

        input {
            width: 16px !important;
            margin: 0 !important;
        }

        p {
            margin: 0 10px;
            font-size: 10px;
        }
    }

    .Rectangle-2-Copy-11 {
        height: 20px;
        margin: 20px 0px 20px 0;
        padding: 15px 52px 16px;
        border-radius: 25px;
        background-color: #f8e71c;
        cursor: pointer;

        .Submit {
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            color: #0b0e55;
            background-color: #f8e71c;
            border: none;
            cursor: pointer;
            width: 100%;
        }
    }
}


// TRY IT FREE
.form-modal-for-free {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow-y: auto;

    .Rectangle-try {
        border-radius: 20px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15), 0 20px 40px 0 rgba(0, 0, 0, 0.06);
        background-image: linear-gradient(to top, #e1e1e1, #f1f1f1 -100%);
        padding: 27px 40px 22px 40px;
        position: absolute;
        left: calc(50% - 250px);
        top: 10px;
        background-color: white;
        opacity: 1.7;
        z-index: 1;
        min-height: 670px;
        height: auto;
        // overflow-y: scroll;

        // &::-webkit-scrollbar {
        //     background: transparent;
        //     width: 0px;
        // }

        @media only screen and (max-width : 280px) {
            margin: 10px 13px 10px 12px;
            width: 74.33%;
            left: unset;
            padding: 27px 24px 22px 26px;
        }

        @media only screen and (max-width : 321px) {
            left: unset;
            margin: 10px 13px 10px 12px;
            padding: 27px 24px 22px 26px;
        }

        @media only screen and (min-width: 321px) and (max-width : 500px) {
            margin: 10px 13px 10px 12px;
            padding: 27px 24px 22px 26px;
            left: unset;
        }

        // @media only screen and (max-width : 321px) {
        //     margin: 7% 12px 0px 13px;
        //     width: 74.33%;
        //     left: unset;
        //     padding: 27px 24px 22px 26px;
        // }

        // @media only screen and (min-width: 321px) and (max-width : 500px) {
        //     margin: 15% 6% 0px;
        //     padding: 27px 24px 22px 26px;
        // }


        .model {
            overflow-x: hidden;
            overflow-y: auto;
        }

        .headings {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .Speak-To-Our-Experts {
            margin: 0 22px 0 0;
            font-size: 20px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: #051260;
            // padding: 0 0 25px;
        }

        .close {
            border: none;
            margin-top: 2px !important;
            font-size: 30px;
            color: #111111;
            opacity: 0.8;
            cursor: pointer;
        }

        .body-content {
            width: 100%;

            form {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .Work-Email-Address,
            .Company-Name,
            .Your-Timeline,
            .Full-Name,
            .Phone-Number,
            .Comment,
            .How-can-we-contact-y,
            .Select-Services,
            .Your-Timeline {
                padding: 0px 10px;
                margin: 0 0 8px;
                border: none;
                height: 50px;
                border-bottom: solid 1px #8d8d8d;
                color: #666666;
                font-size: 12px;
                background-color: #f0f0f0;
            }

            .How-can-we-contact-y {
                padding: 12px 0 !important;
                margin: 0 0 8px !important;
            }

            .Services {
                margin-top: 14px;

                .Select-Services {
                    height: 0 !important;
                    margin: 0 !important;
                    padding: 0 !important;
                }

                img {
                    width: 11px;
                    height: 7px;
                }
            }
        }

        .terms-privacy {
            display: flex;
            margin-top: 24px;
            align-items: center;

            p {
                margin: 0 10px;
                font-size: 10px;
                color: black !important
            }
        }

        .last-content-popup {
            display: flex;
            align-items: center;

            .The-information-shar {
                margin: 0 10px;
                font-size: 10px;
                color: black !important;
            }
        }

        .Rectangle-2-Copy-10 {
            // height: 20px;
            margin: 20px 0px 20px 0;
            padding: 15px 52px 16px;
            border-radius: 25px;
            background-color: #f8e71c;
            cursor: pointer;

            .Submit {
                font-size: 18px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: center;
                color: #0b0e55;
                background-color: #f8e71c;
                border: none;
                cursor: pointer;
                width: 100%;
            }
        }
    }
}

// THANKS MODEL
// .Thanks-model {
//     border-radius: 16px;
//     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15), 0 20px 40px 0 rgba(0, 0, 0, 0.06);
//     background-image: linear-gradient(to top, #e1e1e1, #f1f1f1 -100%);
//     padding: 27px 24px 22px 26px;
//     position: fixed;
//     top: 0px;
//     background-color: white;
//     opacity: 1.7;
//     z-index: 1;
// }