.-header {
    background-color: #0f0a4b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: 27px;

    // img.Bitmap-Copy-5 {

    //     width: 114px;
    //     height: 40px;
    //     object-fit: contain;
    //     margin: 15px 0 15px 85px;

    // }

    .logo img {
        height: 40px;
        width: 114px;
        // margin: 20px 85px;
        margin: 20px 0px 20px 85px;

        @media screen and (max-width: 500px) {
            height: 30px;
            width: 60px;
            margin: 20px;
        }
    }

    .header-contact {
        color: white;
        display: flex;

        .cont {
            // margin-right: 17px;
            // height: 0px;
            margin-right: 17px;
            height: 0px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            p {
                margin-bottom: 0px;
                margin-top: 19px;
                font-size: 10px;
            }

            span {
                color: #f8e71c;
                text-align: end;
                font-size: 12px;
            }
        }

        .Rectangle {
            // height: 40px;
            // border-radius: 20px;

            .try-free {
                background-color: #f8e71c;
                border-radius: 20px;
                text-align: center;
                font-size: 14px;
                font-weight: 800;
                padding: 9px 22px;
                color: black;
                margin-right: 80px;
                cursor: pointer;

                @media screen and (max-width: 500px) {
                    width: 54px;
                    font-size: 10px;
                    border-radius: 38px;
                    padding: 9px 7px;
                    margin: 15px 10px;
                }
            }
        }
    }
}