.Third-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.06);
  background-color: #fff;

  img {
    width: 100%;
    object-fit: contain;
    // margin-bottom: 11px;
  }

  .heading-div {
    height: 35px;
    margin: 10px 0 11px 0;
  }

  .heading {
    width: 520px;
    height: 30px;
    font-family: revert;
    font-size: 0.9rem;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    // line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #0f0a4b;
  }

  .Content {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.9;
    letter-spacing: normal;
    text-align: justify;
    color: #505050;
    padding-left: 37px;

    img {
      width: 4%;
      object-fit: contain;
    }

    span {
      margin-left: 10px;
    }
  }
}