.Third-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.06);
  background-color: #fff;
  height: auto;
  padding-bottom: 30px;

  @media only screen and (max-width : 500px) {
    margin: 7px 12px 19px 13px;
  }

  img {
    width: 100%;
    object-fit: contain;
  }

  .heading-div {
    margin: 10px 0 11px 30px;
  }

  .heading {
    font-size: 20px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0f0a4b;
  }

  .Content {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 21px;
    letter-spacing: normal;
    word-spacing: 4px;
    color: #505050;
    padding: 0 30px;

    .child-content {
      line-height: 21px;
      font-size: 14px;
      display: flex;
      // align-items: center;
      margin-top: 13px;

      @media only screen and (min-width: 500px) and (max-width: 1020px) {
        font-size: 12px;
        width: 260px;
        margin-top: 10px;
      }
    }

    img {
      width: 4%;
      object-fit: contain;
    }

    span {
      margin-left: 10px;
    }


  }
}